]html, body{
	width: 100%;
	height:100%;

}
img {
	width: 100%;
	height: auto;
	max-width: 100%;
}
.skrollr-container{
	width: 100%;
	height:100%;
	overflow:hidden;

}

.sections{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.section{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
/*	this height affects how many can fit*/

}

.box {
	position: relative;
	top: 40%;
	left: 50%;
	width: 200px;
	height: 200px;
	border-radius: 50%
	background-color: yellow;
}

#section1{
	background-color: #FF1744;
	height: 100%;
	top: 0;
}

#section2{
	background-color: #3D5AFE;
	height: 100%;
	top: 12.5%;
}

#section3{
	background-color: #FF1744;
	height: 100%;
	top: 25%;
}

#section4{
	background-color: #3D5AFE;
	height: 100%;
	top: 37.5%;
}

#section5{
	background-color: #FF1744;
	height: 100%;
	top: 50%;
}

#section6{
	background-color: #3D5AFE;
	height: 100%;
	top: 62.5%;
}

#section7{
	background-color: #FF1744;
	height: 100%;
	top: 75%;
}

#section8{
	background-color: #3D5AFE;
	height: 100%;
	top: 87.5%;
}

.next {
	position: absolute;
	bottom: 1%;
	right: 1%;
	font-family: sans-serif;
	font-size: 100px;
}

#helper{
	/*display:none;*/
	position:absolute;
	left:0;
	top:0;
	height:1000%;
	width:20px;
}

.marker{
	width:100%;
	height:10%;
	border: 2px solid white;
}

a {
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	position: fixed;
	bottom: 50%;
	right: 20%;
	font-size: 48px;
}





